dist/
deploy_versions/
.temp/
.rn_temp/
node_modules/
.DS_Store
.swc
*.local
*.DS_Store  
node_modules 
*.log 
idea/ 
*.local 
.DS_Store 
dist 
.cache 
.idea 
logs 
*-debug.log 
*-error.log 
*__pycache__/
